<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="footer_customer">

<footer id="footer"><!--Footer-->
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-widget">
                        <h2>Team members</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a>Le Trung Thanh</a></li>
                            <li><a>Tran Hiep Quoc</a></li>
                            <li><a>Nguyen Van Dung</a></li>
                            <li><a>Nguyen Viet Dat</a></li>
                            <li><a>Hoang Tuan Anh</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-widget">
                        <h2>Rikkeisoft</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a>Fresher K2</a></li>
                            <li><a>Java</a></li>
                            <li><a>Team 2</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2022 Rikkeisoft Fresher K2 - Team 2 Java - Overnight.</p>
            </div>
        </div>
    </div>
</footer><!--/Footer-->
</th:block>
</body>
</html>