<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="navbar">
<header id="header">
    <div class="header_top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a><i class="fa fa-phone"></i>+84 9322462xx</a></li>
                            <li><a><i class="fa fa-envelope"></i> fashion.store.mock@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a th:href="@{/}"><img style="width: 140px" th:src="@{/images/home/logo.png}"/></a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <th:block sec:authorize="isAuthenticated()">
                                <li><a th:href="@{/customeruser/edit/}"><i class="fa fa-user"></i> Account</a></li>
                                <th:block sec:authorize="hasAnyRole('CUSTOMER')">
                                <li style="display: flex">
                                    <a th:href="@{/cart/}" >
                                    <i class="fa fa-shopping-cart"></i><a th:href="@{/cart/}" th:text="'Cart ' +'('+${size_carts}+')'"></a> </a></li>
                                <li><a th:href="@{/myorder}"><i class="fa fa-shopping-cart"></i> Order History</a></li>
                                </th:block>
                                <th:block sec:authorize="hasAnyRole('ADMIN','MANAGER','STAFF')">
                                <li><a th:href="@{/admin/home}"><i class="fa fa-user"></i> Admin Page</a></li>
                                </th:block>
                                <li><a th:href="@{/logout}"><i class="fa fa-lock"></i> Logout</a></li>
                            </th:block>
                            <th:block sec:authorize="!isAuthenticated()">
                                <li><a th:href="@{/login}"><i class="fa fa-lock"></i> Login</a></li>
                            </th:block>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a th:href="@{/}">Home</a></li>
                            <li><a th:href="@{/product/listproducts}">Shop</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search_box pull-right">
                        <div class="input-group">
                            <form th:action="@{'/product/listproducts'}">
                                <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" placeholder="Search"/>
                                <input type="hidden" name="categoryId" th:value="${categoryId}"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</th:block>
</body>
</html>