<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="footer">
<!-- footer -->
    <div class="container" style="position: absolute;bottom: 0px; width: 98%;">
        <div class="py-3 my-4 ">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            </ul>
            <p class="text-center text-muted">&copy; 2022 Team 2 Java Rikkei Fresher K2, Overnight</p>
        </div>
    </div>
</th:block>
</body>
</html>