<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="nav_bar">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 145vh;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap" />
            </svg>
            <span class="fs-4">Admin Manager</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a th:href="@{/admin/home}" class="nav-link text-white">Dashboard</a>
            </li>
            <li sec:authorize="hasAnyRole('ADMIN','MANAGER')" class="nav-item">
                <a th:href="@{/admin/revenue}" class="nav-link text-white">Revenue</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/admin/product}" class="nav-link text-white">Products</a>
            </li>
            <li>
                <a th:href="@{/admin/listPromotions}" class="nav-link text-white">Promotions</a>
            </li>
            <li>
                <a th:href="@{/admin/order}" class="nav-link text-white">Orders</a>
            </li>
            <li>
                <a th:href="@{/admin/category/listCategory}" class="nav-link text-white">Categories</a>
            </li>
            <li>
                <a th:href="@{/admin/customer}" class="nav-link text-white">Customers</a>
            </li>
            <li>
                <a th:href="@{/admin/staff}" class="nav-link text-white">Staffs</a>
            </li>
        </ul>
    </div>
</th:block>
</body>
</html>