<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Admin - Add Category</title>
    <th:block th:replace="layout_admin/meta_head :: meta_head"></th:block>
</head><!--/head-->
<body>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <div style="display: flex">
        <div th:include="layout_admin/nav_bar:: nav_bar"></div>
        <div class="container" style="padding: 0; position: relative">
            <div th:include="layout_admin/navi_bar:: navi_bar"></div>
            <div class="container">
                <div class="row"
                     style="border: 1px darkgrey solid; border-radius: 10px; width: 50%; margin: 0 auto; padding: 20px;">
                    <div class="col-sm-12">
                        <h2 class="myclass">Add Category</h2>
                        <form th:action="${addcategory}" th:object="${category}" method="post"
                              enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Category Name</label>
                                <input th:field="*{name}" type="text" class="form-control"
                                       name="name" placeholder="Enter name" id="name" value="" required>
                            </div>
                            <span th:text="${alert}" style="color:red"></span>
                            <br>
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a class="btn btn-primary" href="/admin/category/listCategory">Display List Category</a>
                        </form>
                    </div>
                </div>
                <th:block th:replace="layout_admin/footer :: footer"></th:block>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="layout_admin/js_lib :: js_lib"></th:block>
</body>
</html>
