<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">

    <title>Cart | E-Shopper</title>
        <th:block th:replace="layout_customer/head :: head"></th:block>

</head><!--/head-->

<body>
<div th:include="layout_customer/navbar:: navbar"></div>

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <span id="alert" style="color: red" th:text="${alert}"></span>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="image">Item</td>
                    <td class="description">Name</td>
                    <td class="price">Price</td>
                    <td class="quantity">Quantity</td>
                    <td class="total">Total</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <th:block th:if="${listCart.size()>0}">
                    <tr th:each="cart : ${listCart}">
                        <td class="cart_product">
                            <a href=""><img style="width: 100px;" th:src="${cart.product.image}"></a>
                        </td>
                        <td class="cart_description" style="width: 30%; padding-right: 5px;">
                            <h4><a href="" th:text="${cart.product.name}"></a></h4>
                        </td>
                        <td class="cart_price">
                            <p th:text="${cart.product.price}+' VNĐ'"></p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a>
                                    <button class="cart_quantity_up btn-warning" style="width: 25px;"
                                            th:onclick="'increaseAmount('+${cart.id}+','+${cart.product.price}+');'"> +
                                    </button>
                                </a>
                                <input class="cart_quantity_input" type="text"
                                       name="quantity" th:value="${cart.quantity}" autocomplete="off"
                                       th:id="${cart.id}" size="2" readonly>
                                <a>
                                    <button class="cart_quantity_down btn-warning" style="width: 25px;"
                                            th:onclick="'reduceAmount('+${cart.id}+','+${cart.product.price}+');'"> -
                                    </button>
                                </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price" th:id="'total'+${cart.id}"
                               th:text="${cart.product.price * cart.quantity}+' VNĐ'"></p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete"
                               style="margin-right: 5px;"
                               onclick="return confirm('Are you sure?')"
                               th:href="@{'/cart/deleteCart/'+${cart.id}}"><i
                                    class="fa fa-times"></i></a>
                        </td>
                        <input type="hidden" th:id="'maxQuantity'+${cart.id}" th:value="${cart.product.quantity}">
                    </tr>
                </th:block>
                </tbody>
            </table>
            <th:block th:if="${listCart.size()==0}">
                <h4 style="text-align: center; color: red"> Empty Cart, <a th:href="@{/product/listproducts}">Shopping now!</a></h4>
            </th:block>
        </div>
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>What would you like to do next?</h3>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <form th:action="@{/cart/applycoupon}" th:object="${promotion}">
                <div class="chose_area">
                    <ul class="user_info">
                        <li class="single_field">
                            <label>Coupon:</label>
                            <input type="text" th:field="*{code}" >
                        </li>
                    </ul>
                    <span th:text="${alert_promotion}" style="color:red; margin-left: 40px;display: block"></span>
                    <button style="margin-left: 40px; box-shadow: 5px 3px 5px rgb(0 0 0 / 50%);" class="btn btn-default check_out" type="submit">Apply</button>
                </div>
                </form>
            </div>
            <div class="col-sm-6">
                <form th:action="@{/cart/checkout}" >
                <div>
                <div class="total_area">
                    <ul>
                        <li>Cart Sub Total <span th:text="${subtotal}"></span></li>
                        <li>Shipping Cost <span>Free</span></li>
                        <li>Total <span th:value="${total}" th:text="${total}"></span></li>
                    </ul>
                    <a class="btn btn-default update" th:href="@{/cart/show}" style="box-shadow: 5px 3px 5px rgb(0 0 0 / 50%);" >Update</a>
                    <input type="text" name="totalprice" th:value="${total}" style="display: none">
                    <input type="text" name="subtotal" th:value="${subtotal}" style="display: none">
                    <input type="text" name="promotionCode" th:value="${promotion.code}" style="display: none">
                    <button th:if="${listCart.size()>0}" type="submit" class="btn btn-default check_out" style="box-shadow: 5px 3px 5px rgb(0 0 0 / 50%);" >Check Out</button>
                </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</section><!--/#do_action-->

<th:block th:replace="layout_customer/footer :: footer_customer"></th:block>
<th:block th:replace="layout_customer/js :: js"></th:block>
<script>
    function increaseAmount(cid, price) {
        if (parseInt(document.getElementById(cid).value) < parseInt(document.getElementById('maxQuantity' + cid).value)) {
            var quantity = parseInt(document.getElementById(cid).value) + 1;
            document.getElementById(cid).value = parseInt(quantity);
            var newprice = (parseInt(document.getElementById(cid).value)) * parseFloat(price);
            document.getElementById('total' + cid).innerHTML = parseFloat(newprice).toFixed(1) + ' VNĐ';
        } else {
            window.alert("Out of max quantity");
        }
        jQuery.ajax({
            type: 'post',
            url: "/cart/increaseAmount",
            data: {
                cartId: cid
            },
            success: function () {
            }, error: function () {
            }
        });
    }

    function reduceAmount(cid, price) {
        var quantity = parseInt(document.getElementById(cid).value);
        if (quantity !== 1) {
            document.getElementById(cid).value = parseInt(quantity - 1);
            var newprice = (parseInt(document.getElementById(cid).value)) * parseFloat(price);
            document.getElementById('total' + cid).innerHTML = parseFloat(newprice).toFixed(1) + ' VNĐ';
        }
        jQuery.ajax({
            url: "/cart/reduceAmount",
            type: "POST",
            data: {
                cartId: cid
            },
            success: function () {
            }, error: function () {
            }
        });
    }

</script>


</body>
</html>