<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>Change Password </title>
    <th:block th:replace="layout_customer/head :: head"></th:block>

</head>

<body>
<div th:include="layout_customer/navbar:: navbar"></div>

<section id="form" style="margin-top: 50px;"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <h2>Change your password</h2>
                    <form  method="post" th:action="@{/saveChangePassword}">
                        <label>Current Password</label>
                        <input type="password" name="currentpass" id="currentpass" placeholder="Enter current password"/>
                        <span style="color: red" th:text="${alert_currentPass}"></span>
                        <br>
                        <label>Enter new Password</label>
                        <input pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                               title="Minimum eight characters, at least one letter, one number and one special character"
                               type="password" name="newpass" id="newpass" placeholder="Enter new password"/>
                        <span style="color: red" th:text="${alert_newPass}"></span>
                        <br>
                        <label>Enter new Password again</label>
                        <input type="password" name="re_newpass" id="re_newpass" placeholder="Enter new password again"/>
                        <span style="color: red" th:text="${alert_reNewPass}"></span>
                        <br>
                        <button id="submit" type="submit" class="btn btn-default">Accept</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section><!--/form-->


<th:block th:replace="layout_customer/footer :: footer_customer"></th:block>
<th:block th:replace="layout_customer/js :: js"></th:block>
</body>
</html>