<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Create New Customer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

</head>
<body>
<div align="center">
    <h1>Create New Customer</h1>
    <br/>
    <form action="#" th:action="@{/admin/customer/save}" th:object="${user}"
          method="post">
        <table>
            <tr>
                <td>Customer Name:</td>
                <td><input type="text" th:field="*{customer.name}" required/></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><input type="text" th:field="*{username}" required/></td>
            </tr>
            <tr>
                <td>password:</td>
                <td><input type="password" th:field="*{password}" required/></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="email" th:field="*{customer.email}" required/></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td><input type="text" th:field="*{customer.phone}"/></td>
            </tr>
            <tr>
                <td>Avatar:</td>
                <td><input type="text" th:field="*{customer.avatar}"/></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" th:field="*{customer.address}"/></td>
            </tr>
            <tr>
                <td>BirthDay:</td>
                <td><input type="date" th:field="*{customer.birthday}" required/></td>
            </tr>
<!--            <tr>-->
<!--                <td>Role:</td>-->
<!--                <td>-->
<!--                    <select th:field="*{role.name}">-->
<!--                        <option th:value="'ROLE_CUSTOMER'" th:text="ROLE_CUSTOMER"></option>-->
<!--                    </select>-->
<!--                </td>-->
<!--            </tr>-->
            <tr>
                <td colspan="2">
                    <button color="orange" type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>