<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Admin - Edit Category</title>
    <th:block th:replace="layout_admin/meta_head :: meta_head"></th:block>
</head><!--/head-->
<body>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <div style="display: flex">
        <div th:include="layout_admin/nav_bar:: nav_bar"></div>
        <div class="container" style="padding: 0; position: relative">
            <div th:include="layout_admin/navi_bar:: navi_bar"></div>
            <div class="container row">
                <div class="row col-sm-6"
                     style="border: 1px darkgrey solid; border-radius: 10px; margin: 0; padding: 20px;">
                    <div class="col-sm-12">
                        <div style="display: flex; justify-content: space-between;">
                            <h2 class="myclass">Edit Product</h2>
                            <div>
                                <img style="width: 100px" th:src="${product.image}"/>
                            </div>
                        </div>
                        <form th:action="@{/admin/product/save}" th:object="${product}" method="post"
                              enctype="multipart/form-data">
                                    <input type="hidden" th:field="*{createdAt}">
                                    <input type="hidden" th:field="*{count}">
                            <div class="form-group">
                                <label>Id</label>
                                <input th:field="*{id}" type="text" class="form-control"
                                       name="id" placeholder="Enter name" id="id" value="" readonly>
                            </div>
                            <div class="form-group">
                                <label>Name Product</label>
                                <input th:field="*{name}" type="text" class="form-control"
                                       name="name" placeholder="Enter name" id="name" value="" required>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <input th:field="*{description}" type="text" class="form-control"
                                       name="name" placeholder="Enter name" id="description" value="" required>
                            </div>
                            <tr>
                                <td>Category:</td>
                                <td><select th:field="*{category}" class="form-select"
                                            aria-label="Default select example">
                                    <option th:each="cate :${listCategory}" th:value="${cate.id}"
                                            th:text="${cate.name}"></option>
                                </select></td>
                            </tr>
                            <div class="form-group">
                                <label>Image</label>
                                <input th:field="*{image}" type="text" class="form-control"
                                       name="name" placeholder="Enter name" id="image" value="" required>
                            </div>
                            <div class="form-group">
                                <label>Price</label>
                                <input th:field="*{price}" type="text" class="form-control"
                                       name="name" placeholder="Enter name" id="price" value="" required>
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <select th:field="*{status}" class="form-select">
                                    <option th:value='0' th:text="Disable"></option>
                                    <option th:value='1' th:text="Enable"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Quantity</label>
                                <input th:field="*{quantity}" type="text" class="form-control"
                                       name="name" placeholder="Enter name" id="quantity" value="" required>
                            </div>
                            <br>
                            <button sec:authorize="hasAnyRole('ADMIN','MANAGER')"
                                    type="submit" class="btn btn-primary">Save Edit</button>
                            <a class="btn btn-primary" href="/admin/product">Display List Product</a>
                        </form>
                    </div>
                </div>
                <div style="text-align: center" class="col-sm-6">
                    <h2>Add Image Product</h2>
                    <div sec:authorize="hasAnyRole('ADMIN','MANAGER')">
                    <form th:action="@{'/admin/product/saveImage/'+${product.id}}" th:object="${productImage}"
                          method="post"
                          style="margin: 20px 0">
                        <tr>
                            <td>Image Link:</td>
                            <td><input type="text" th:field="*{image}" required/></td>
                            <td colspan="2">
                                <button type="submit">Save</button>
                            </td>
                        </tr>
                    </form>
                    </div>
                    <div style="text-align: center; max-height: 700px; overflow-y: scroll;">
                        <table class="table table-bordered">
                            <thead>
                            <tr style="text-align: center; background-color: orange; color: #fff">
                                <th style="text-align: center">Image</th>
                                <th style="text-align: center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="image:${productImageList}">
                                <td><a th:href="@{${image.image}}"> <img th:src="@{${image.image}}" width="30px"></a></td>
                                <td style="text-align: center">
                                    <a th:href="@{'/admin/product/deleteImage/'+${image.id}}"
                                       class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <th:block th:replace="layout_admin/footer :: footer"></th:block>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="layout_admin/js_lib :: js_lib"></th:block>
</body>
</html>
