<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>Forgot Password</title>
    <th:block th:replace="layout_customer/head :: head"></th:block>

</head>

<body>
<div th:include="layout_customer/navbar:: navbar"></div>

<section id="form" style="margin-top: 50px;"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <h2>Enter email:</h2>
                    <form th:action="@{/send_pass_back}" method="post">
                        <input type="email" id="email" name="email" placeholder="Enter your email" required/>
                        <span id="msg_email"></span>
                        <span style="color: red" th:text="${alert}"></span>
                        <br>
                        <span>We will send a mail with password to your email address</span>
                        <button type="submit" class="btn btn-default">Accept</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section><!--/form-->



<th:block th:replace="layout_customer/footer :: footer_customer"></th:block>
<th:block th:replace="layout_customer/js :: js"></th:block>

<script type="text/javascript">
    $(document).ready(function() {
        $("#email").on("input", function(g) {
            $('#msg_email').hide();
            if ($('#email').val() == null || $('#email').val() == "") {
                $('#msg_email').show();
                $("#msg_email").html("Email is a required field.").css("color", "red");
            } else {
                $.ajax({
                    type: 'post',
                    url: "/check_email",
                    data: JSON.stringify({email: $('#email').val()}),
                    contentType: 'application/json; charset=utf-8',
                    // dataType: 'json',
                    cache: false,
                    beforeSend: function (h) {
                        $('#msg_email').show();
                        $('#msg_email').html('Checking...');
                    },
                    statusCode: {
                        400: function(xhr) {
                            $('#msg_email').show();
                            $("#msg_email").html("Email is not exist!!!").css("color", "red");
                        }
                    },
                    success: function(msg_email) {
                        $('#msg_email').show();
                        if(msg_email !== null || msg_email !== "") {
                            $("#msg_email").hide();
                        } else {
                            $("#msg_email").html("Email is not exist!!!").css("color", "red");
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        $('#msg_email').show();
                        $("#msg_email").html(textStatus + " " + errorThrown).css("color", "red");
                    }
                });
            }
        });
    });
</script>
</body>
</html>