<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Admin - Order List</title>
  <th:block th:replace="layout_admin/meta_head :: meta_head"></th:block>
</head>
<body>
<div class="wrapper row-offcanvas row-offcanvas-left">
  <div style="display: flex">
    <div th:include="layout_admin/nav_bar:: nav_bar"></div>
    <div class="container" style="padding: 0; position: relative">
      <div th:include="layout_admin/navi_bar:: navi_bar"></div>
      <div class="container">
        <h1 style="font-family: cursive; color: orange;" th:text="'Orders finished in '+${month}+'/'+${year}"></h1>
        <table class="table table-bordered">
          <thead>
          <tr style="text-align: center">
            <th style="text-align: center">Orer ID</th>
            <th style="text-align: center">Customer Username</th>
            <th style="text-align: center">Reciver Name</th>
            <th style="text-align: center">Reciver Address</th>
            <th style="text-align: center">Reciver Phone</th>
            <th style="text-align: center">Promotion</th>
            <th style="text-align: center">Shipping Unit</th>
            <th style="text-align: center">Price</th>
            <th style="text-align: center">Payment Method</th>
            <th style="text-align: center">Payment Status</th>
            <th style="text-align: center">Status</th>
            <th style="text-align: center">Created At</th>
            <th style="text-align: center">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="order : ${orderList}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.customer.user.username}"></td>
            <td th:text="${order.receiverName}"></td>
            <td th:text="${order.receiverAddress}"></td>
            <td th:text="${order.receiverPhone}"></td>
            <td th:text="${order.promotion==null? 'None':order.promotion.discount}"></td>
            <td th:text="${order.shippingUnit.name}"></td>
            <td th:text="${order.price}"></td>
            <td th:text="${order.paymentMethod}"></td>
            <td th:switch="${order.paymentStatus}">
              <p th:case="'0'">Unpaid</p>
              <p th:case="'1'">Paid</p>
            </td>
            <td th:switch="${order.status}">
              <p th:case="'0'">Processing</p>
              <p th:case="'1'">Shipping</p>
              <p th:case="'2'">Finished</p>
              <p th:case="'3'">Canceled</p>
            </td>
            <td th:text="${order.createdAt}"></td>
            <td style="text-align: center">
              <a th:href="@{'/admin/orderDetail/' + ${order.id} }"
                 class="btn btn-primary btn-sm" href="#" style="margin-top: 0">Detail</a>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="text-center">
          <div class="text-center">
            <span>Total Items: [[${totalItems}]] - Page: [[${currentPage}]] of [[${totalPages}]] </span>
          </div>
          <nav class="pagination justify-content-center flex-wrap">
            <th:block th:if="${totalItems > 0 && totalPages>1}">
              <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                <a th:href="@{'/admin/revenue/order/1'}"

                   class="page-link">First</a>
              </li>
              <li th:if="${currentPage>1}"
                  th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                <a th:href="@{'/admin/revenue/order/'+${currentPage - 1}}"
                     class="page-link">Previous</a>
                </li>
                <th:block th:if="${totalPages <= 10}">
                  <li th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item">
                    <a th:href="@{'/admin/revenue/order/'+${i}}"
                     class="page-link"> [[${i}]]</a>
                </li>
              </th:block>
              <th:block th:if="${totalPages > 10}">
                <th:block th:if="${currentPage <= 3 ||currentPage > totalPages -3}">
                  <li th:each="i:${#numbers.sequence(1,3)}" class="page-item">
                    <a th:href="@{'/admin/revenue/order/'+${i}}"
                       class="page-link"> [[${i}]]</a>
                  </li>
                  <li>
                    <a th:href="@{'/admin/revenue/order/4'} "
                       class="page-link">...</a>
                  </li>
                  <li th:each="i:${#numbers.sequence(totalPages - 2,totalPages)}" class="page-item">
                    <a th:href="@{'/admin/revenue/order/'+${i}}"
                       class="page-link"> [[${i}]]</a>
                  </li>
                </th:block>
                <th:block th:if="${currentPage > 3 && currentPage <= totalPages -3}">
                  <li>
                    <a th:href="@{'/admin/revenue/order/'+${currentPage - 3}}"
                       class="page-link">...</a>
                  </li>
                  <li th:each="i:${#numbers.sequence(currentPage - 2,currentPage + 2)}"
                      class="page-item">
                    <a th:href="@{'/admin/revenue/order/'+${i}}"
                       class="page-link"> [[${i}]]</a>
                  </li>
                  <li>
                    <a th:href="@{'/admin/revenue/order/'+${currentPage + 3}}"
                       class="page-link">...</a>
                  </li>
                </th:block>
              </th:block>
              <li th:if="${currentPage<totalPages}"
                  th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                <a th:href="@{'/admin/revenue/order/'+${currentPage + 1}}"
                   class="page-link">Next</a>
              </li>
              <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                <a th:href="@{'/admin/revenue/order/'+${totalPages}}"
                   class="page-link">Last</a>
              </li>
            </th:block>
          </nav>
        </div>
      </div>
      <th:block th:replace="layout_admin/footer :: footer"></th:block>
    </div>
  </div>
</div>
<th:block th:replace="layout_admin/js_lib :: js_lib"></th:block>
</body>
</html>

