<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Admin - Promotion List</title>
    <th:block th:replace="layout_admin/meta_head :: meta_head"></th:block>
</head>
<body>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <div style="display: flex">
        <div th:include="layout_admin/nav_bar:: nav_bar"></div>
        <div class="container" style="padding: 0; position: relative">
            <div th:include="layout_admin/navi_bar:: navi_bar"></div>
            <div class="container">
                <h1 style="font-family: cursive; color: orange;">List Promotion</h1>
                <div style="display: flex; justify-content: space-between">
                    <div sec:authorize="hasAnyRole('ADMIN','MANAGER')">
                        <p>
                            <a class="btn btn-primary" href="/admin/listPromotions/add">ADD PROMOTIONS</a>
                        </p>
                    </div>
                    <div class="search_box pull-right">
                        <div class="input-group">
                            <form th:action="@{'/admin/listPromotions'}">
                                Search: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}"/>
                            </form>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr style="text-align: center">
                        <th><a style="color: black" th:href="@{'/admin/listPromotions/'+${currentPage}
                                    +'?sortField=id&sortDir='+ ${reverseSortDir}+'&keyword='+${keyword}}">
                            Id</a></th>
                        <th>Name</th>
                        <th><a style="color: black" th:href="@{'/admin/listPromotions/'+${currentPage}
                                    +'?sortField=discount&sortDir='+ ${reverseSortDir}+'&keyword='+${keyword}}">
                            Discount</a></th>
                        <th>Apply day</th>
                        <th>Total usage</th>
                        <th>Max discount</th>
                        <th>Remain Apply</th>
                        <th>Status</th>
                        <th>Code</th>
                        <th style="text-align: center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="promotion : ${listpromotions}">
                        <td th:text="${promotion.id}"></td>
                        <td th:text="${promotion.name}"></td>
                        <td th:text="${promotion.discount}+'%'"></td>
                        <td th:text="${promotion.applyDay}"></td>
                        <td th:text="${promotion.orders.size()}"></td>
                        <td th:text="${promotion.maxdiscount}"></td>
                        <td th:text="${promotion.remainapply}"></td>
                        <td th:text="${promotion.status==0? 'Disable':'Enable'}"></td>
                        <td th:text="${promotion.code}"></td>
                        <td style="text-align: center"><a class="btn btn-primary btn-sm"
                                                          th:href="@{'/admin/edit/'+${promotion.id}}"
                                                          style="margin-top: 0">Detail & Edit</a>
                            <th:block><a
                                    th:if="${promotion.status==1}"
                                    sec:authorize="hasAnyRole('ADMIN','MANAGER')"
                                    class="btn btn-danger btn-sm"
                                    th:href="@{'/admin/delete/'+${promotion.id}}">Disable</a>
                            </th:block>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <div class="text-center">
                    <div class="text-center">
                        <span>Total Items: [[${totalItems}]] - Page: [[${currentPage}]] of [[${totalPages}]] </span>
                    </div>
                    <nav class="pagination justify-content-center flex-wrap">
                        <th:block th:if="${totalItems > 0 && totalPages>1}">
                            <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                                <a th:href="@{'/admin/listPromotions/1'+ ${query}}"

                                   class="page-link">First</a>
                            </li>
                            <li th:if="${currentPage>1}"
                                th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                                <a th:href="@{'/admin/listPromotions/'+${currentPage - 1}+ ${query}}"
                                   class="page-link">Previous</a>
                            </li>
                            <th:block th:if="${totalPages <= 10}">
                                <li th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item">
                                    <a th:href="@{'/admin/listPromotions/'+${i}+ ${query}}"
                                       class="page-link"> [[${i}]]</a>
                                </li>
                            </th:block>
                            <th:block th:if="${totalPages > 10}">
                                <th:block th:if="${currentPage <= 3 ||currentPage > totalPages -3}">
                                    <li th:each="i:${#numbers.sequence(1,3)}" class="page-item">
                                        <a th:href="@{'/admin/listPromotions/'+${i}+ ${query}}"
                                           class="page-link"> [[${i}]]</a>
                                    </li>
                                    <li>
                                        <a th:href="@{'/admin/listPromotions/4' + ${query}}"
                                           class="page-link">...</a>
                                    </li>
                                    <li th:each="i:${#numbers.sequence(totalPages - 2,totalPages)}" class="page-item">
                                        <a th:href="@{'/admin/listPromotions/'+${i}+ ${query}}"
                                           class="page-link"> [[${i}]]</a>
                                    </li>
                                </th:block>
                                <th:block th:if="${currentPage > 3 && currentPage <= totalPages -3}">
                                    <li>
                                        <a th:href="@{'/admin/listPromotions/'+${currentPage - 3}+ ${query}}"
                                           class="page-link">...</a>
                                    </li>
                                    <li th:each="i:${#numbers.sequence(currentPage - 2,currentPage + 2)}"
                                        class="page-item">
                                        <a th:href="@{'/admin/listPromotions/'+${i}+ ${query}}"
                                           class="page-link"> [[${i}]]</a>
                                    </li>
                                    <li>
                                        <a th:href="@{'/admin/listPromotions/'+${currentPage + 3}+ ${query}}"
                                           class="page-link">...</a>
                                    </li>
                                </th:block>
                            </th:block>
                            <li th:if="${currentPage<totalPages}"
                                th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                                <a th:href="@{'/admin/listPromotions/'+${currentPage + 1}+ ${query}}"
                                   class="page-link">Next</a>
                            </li>
                            <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                                <a th:href="@{'/admin/listPromotions/'+${totalPages}+ ${query}}"
                                   class="page-link">Last</a>
                            </li>
                        </th:block>
                    </nav>
                </div>
            </div>
            <th:block th:replace="layout_admin/footer :: footer"></th:block>
        </div>
    </div>
</div>
<th:block th:replace="layout_admin/js_lib :: js_lib"></th:block>
</body>
</html>