<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Admin - Product List</title>
    <th:block th:replace="layout_admin/meta_head :: meta_head"></th:block>
    <style>
        td > div {
            width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
</head>
<body>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <div style="display: flex">
        <div th:include="layout_admin/nav_bar:: nav_bar"></div>
        <div class="container" style="padding: 0; position: relative">
            <div th:include="layout_admin/navi_bar:: navi_bar"></div>
            <div class="container">
                <h1 style="font-family: cursive; color: orange;">List Product</h1>
                <div style="display: flex; justify-content: space-between">
                    <div sec:authorize="hasAnyRole('ADMIN','MANAGER')">
                        <p>
                            <a class="btn btn-primary" th:href="@{/admin/product/new}">ADD PRODUCT</a>
                        </p>
                        <p>
                            <a class="btn btn-success" th:href="@{/admin/exportproducts}">EXPORT TO EXCEL</a>
                        </p>
                    </div>
                    <form th:action="@{/admin/readExcel}" method="post" enctype="multipart/form-data" class="pull-right"
                          sec:authorize="hasAnyRole('ADMIN','MANAGER')">
                        <input type="file" name="excelFile" id="excelFile"
                               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                               class="btn btn-default pull-left form-">
                        <button type="submit" class="btn btn-success pull-right">ADD</button>
                    </form>
                    <div class="search_box pull-right">
                        <div class="input-group">
                            <form th:action="@{'/admin/product'}">
                                Search: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}"/>
                            </form>
                        </div>
                    </div>
                </div>
                <span th:text="${alert}"></span>
                <table class="table table-bordered">
                    <thead>
                    <tr style="text-align: center">
                        <th style="text-align: center">Product ID</th>
                        <th style="text-align: center">Name</th>
                        <th style="text-align: center">Description</th>
                        <th style="text-align: center">Category</th>
                        <th style="text-align: center">Image</th>
                        <th style="text-align: center"><a style="color: black" th:href="@{'/admin/product/'+${currentPage}
                                    +'?sortField=price&sortDir='+ ${reverseSortDir}+'&keyword='+${keyword}}">
                            Price</a></th>
                        <th style="text-align: center">Quantity</th>
                        <th style="text-align: center">Status</th>
                        <th style="text-align: center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${listproduct}">
                        <td th:text="${product.id}"></td>
                        <td><div th:text="${product.name}"></div></td>
                        <td><div th:text="${product.description}"></div></td>
                        <td th:text="${product.category.name}"></td>
                        <td><img style="width: 50px" th:src="${product.image}"/></td>
                        <td><div th:text="${product.price.longValue()}"></div></td>
                        <td th:text="${product.quantity}"></td>
                        <td th:text="${product.status==0? 'Disable':'Enable'}"></td>
                        <td style="text-align: center">
                            <a sec:authorize="hasAnyRole('ADMIN','MANAGER')"
                               th:href="@{'/admin/product/edit/' + ${product.id} }" class="btn btn-primary btn-sm"
                               href="#" style="margin-top: 0">Edit</a>
                            <a sec:authorize="hasRole('STAFF')"
                               th:href="@{'/admin/product/edit/' + ${product.id} }" class="btn btn-primary btn-sm"
                               href="#" style="margin-top: 0">Details</a>

                            <a sec:authorize="hasAnyRole('ADMIN','MANAGER')"
                               th:if="${product.status==1}"
                               th:href="@{'/admin/product/delete/' + ${product.id}}" class="btn btn-danger btn-sm"
                               href="#">Disable</a>

                        </td>
                    </tr>

                    </tbody>
                </table>
                <div class="text-center">
                    <div class="text-center">
                        <span>Total Items: [[${totalItems}]] - Page: [[${currentPage}]] of [[${totalPages}]] </span>
                    </div>
                    <nav class="pagination justify-content-center flex-wrap">
                        <th:block th:if="${totalItems > 0 && totalPages>1}">
                            <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                                <a th:href="@{'/admin/product/1'+ ${query}}"

                                   class="page-link">First</a>
                            </li>
                            <li th:if="${currentPage>1}"
                                th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                                <a th:href="@{'/admin/product/'+${currentPage - 1}+ ${query}}"
                                   class="page-link">Previous</a>
                            </li>
                            <th:block th:if="${totalPages <= 10}">
                                <li th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item">
                                    <a th:href="@{'/admin/product/'+${i}+ ${query}}"
                                       class="page-link"> [[${i}]]</a>
                                </li>
                            </th:block>
                            <th:block th:if="${totalPages > 10}">
                                <th:block th:if="${currentPage <= 3 ||currentPage > totalPages -3}">
                                    <li th:each="i:${#numbers.sequence(1,3)}" class="page-item">
                                        <a th:href="@{'/admin/product/'+${i}+ ${query}}"
                                           class="page-link"> [[${i}]]</a>
                                    </li>
                                    <li>
                                        <a th:href="@{'/admin/product/4' + ${query}}"
                                           class="page-link">...</a>
                                    </li>
                                    <li th:each="i:${#numbers.sequence(totalPages - 2,totalPages)}" class="page-item">
                                        <a th:href="@{'/admin/product/'+${i}+ ${query}}"
                                           class="page-link"> [[${i}]]</a>
                                    </li>
                                </th:block>
                                <th:block th:if="${currentPage > 3 && currentPage <= totalPages -3}">
                                    <li>
                                        <a th:href="@{'/admin/product/'+${currentPage - 3}+ ${query}}"
                                           class="page-link">...</a>
                                    </li>
                                    <li th:each="i:${#numbers.sequence(currentPage - 2,currentPage + 2)}"
                                        class="page-item">
                                        <a th:href="@{'/admin/product/'+${i}+ ${query}}"
                                           class="page-link"> [[${i}]]</a>
                                    </li>
                                    <li>
                                        <a th:href="@{'/admin/product/'+${currentPage + 3}+ ${query}}"
                                           class="page-link">...</a>
                                    </li>
                                </th:block>
                            </th:block>
                            <li th:if="${currentPage<totalPages}"
                                th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                                <a th:href="@{'/admin/product/'+${currentPage + 1}+ ${query}}"
                                   class="page-link">Next</a>
                            </li>
                            <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                                <a th:href="@{'/admin/product/'+${totalPages}+ ${query}}"
                                   class="page-link">Last</a>
                            </li>
                        </th:block>
                    </nav>
                </div>
            </div>
            <th:block th:replace="layout_admin/footer :: footer"></th:block>
        </div>
    </div>
</div>
<th:block th:replace="layout_admin/js_lib :: js_lib"></th:block>
</body>
</html>


