<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Admin - Add Staff</title>
    <th:block th:replace="layout_admin/meta_head :: meta_head"></th:block>
</head><!--/head-->
<body>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <div style="display: flex">
        <div th:include="layout_admin/nav_bar:: nav_bar"></div>
        <div class="container" style="padding: 0; position: relative">
            <div th:include="layout_admin/navi_bar:: navi_bar"></div>
            <div class="container">
                <div class="row"
                     style="border: 1px darkgrey solid; border-radius: 10px; width: 50%; margin: 0 auto; padding: 20px;">
                    <div class="col-sm-12">
                        <h2 class="myclass">Add Staff</h2>
                        <form th:action="@{/admin/saveStaff}" th:object="${user}" method="post"
                              enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Staff Name</label>
                                <input th:field="*{staff.name}" type="text" class="form-control"
                                       name="name" placeholder="Enter name" id="staffName" required/>
                            </div>
                            <div class="form-group">
                                <label>Username</label>
                                <input th:field="*{username}" type="text" class="form-control"
                                       name="username" placeholder="Enter username" id="username"
                                       pattern=".{6,}" title="Six or more characters" required/>
                                <span style="color: red" th:text="${alert_Username}"></span>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input th:field="*{password}" type="password" class="form-control"
                                       name="password" placeholder="Enter password" id="password"
                                       pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                                       title="Minimum eight characters, at least one letter, one number and one special character"
                                       required/>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input th:field="*{staff.email}" type="email" class="form-control"
                                       name="email" placeholder="Enter email" id="email"
                                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                       title="(characters followed: character@characters.domain " required/>
                                <span style="color: red" th:text="${alert_Email}"></span>
                            </div>

                            <div class="form-group">
                                <label>Phone</label>
                                <input th:field="*{staff.phone}" type="text" class="form-control"
                                       name="email" id="phone" placeholder="Enter phone" pattern="^[0-9]{10,11}$"
                                       title="Input [10-11] Number "/>
                            </div>
                            <div class="form-group">
                                <label>Avatar</label>
                                <input th:field="*{staff.avatar}" type="text" class="form-control"
                                       name="avatar" placeholder="Enter avatar" id="avatar"/>
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <input th:field="*{customer.address}" type="text" class="form-control"
                                       name="name" placeholder="Enter Adrdress" id="address">
                            </div>
                            <div class="form-group">
                                <label>Birthday</label>
                                <input th:field="*{customer.birthday}" type="date" class="form-control"
                                       name="name" id="birthday" placeholder="Enter birthday " required/>
                            </div>
                            <div class="form-group">
                                <label>Role:</label>
                                <select th:field="*{role.id}" class="form-select">
                                    <option th:value='2' th:text="STAFF"></option>
                                    <option th:value='3' th:text="MANAGER"></option>
                                </select>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Create</button>
                            <a class="btn btn-primary" href="/admin/staff">Display List Staff</a>
                        </form>
                    </div>
                </div>
                <th:block th:replace="layout_admin/footer :: footer"></th:block>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="layout_admin/js_lib :: js_lib"></th:block>
</body>
</html>