<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title> Orders Detail </title>
    <th:block th:replace="layout_customer/head :: head"></th:block>


<body>
<div th:include="layout_customer/navbar:: navbar"></div>

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">My Orders</li>
            </ol>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p th:text="'Receiver Name: '+${order.receiverName}"></p>
                <p th:text="'Receiver Phone: '+${order.receiverPhone}"></p>
                <p th:text="'Receiver Address: '+${order.receiverAddress}"></p>
            </div>
            <div class="col-md-6">
                <p th:text="${'Order Date: '+ #calendars.format(order.createdAt, 'dd/MM/yyyy')}"></p>

                <div th:switch="${order.status}">
                    <p th:case="'0'">Status: Processing</p>
                    <p th:case="'1'">Status: Shipping</p>
                    <p th:case="'2'">Status: Finished</p>
                    <p th:case="'3'">Status: Canceled</p>
                </div>
                </p>

                <p th:text="${'Total: '+order.price}"></p>
            </div>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="Receiver Name">Image</td>
                    <td class=" Phone">Product Name</td>
                    <td class="Address">Quantity</td>
                    <td class="quantity">Price</td>
                    <td class="total">Shipping Unit</td>
                    <td class="total">Promotion</td>
                    <td class="total">Payment Method</td>
                    <td class="total">Total</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="orderdetails : ${orderdetail}">
                    <td class="cart_product">
                        <a href=""><img style="width: 50px;" th:src="${orderdetails.product.image}"></a>
                    </td>
                    <td class="cart_description">
                        <p th:text="${orderdetails.product.name}"></p>
                    </td>
                    <td class="cart_price">
                        <p th:text="${orderdetails.quantity}"></p>
                    </td>
                    </td>
                    <td class="cart_price">
                        <p th:text="${orderdetails.price}"></p>
                    </td>
                    <td class="cart_quantity">
                        <p th:text="${orderdetails.order.shippingUnit.name}"></p>
                    </td>
                    <td class="cart_total">
                        <p th:if="${orderdetails.order.promotion!=null}"
                           th:text="${orderdetails.order.promotion.name}"></p>
                        <p th:if="${orderdetails.order.promotion==null}">None </p>
                    </td>
                    <td class="cart_total">
                        <div th:switch="${orderdetails.order.paymentMethod}">
                            <p th:case="'0'">Ship cod</p>
                            <p th:case="'1'">Internet Banking</p>
                        </div>
                    </td>
                    <td class="cart_total">
                        <p th:if="${orderdetails.order.promotion!=null}"
                           th:text="${orderdetails.price * orderdetails.quantity *(100 - orderdetails.order.promotion.discount)/100}"></p>
                        <p th:if="${orderdetails.order.promotion==null}"
                           th:text="${orderdetails.price * orderdetails.quantity}"></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->


<th:block th:replace="layout_customer/footer :: footer_customer"></th:block>
<th:block th:replace="layout_customer/js :: js"></th:block>

</body>
</html>