<!DOCTYPE html>
<html lang="en">
xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment ="quantity_control(qtyValue,productId)" >
<nav>
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link minusButton"  th:value="${productId}" href="">-</a>
        </li>
        <li class="page-item">
            <input type="text" th:value="${qtyValue}"
            th:id ="'quantity'+${productId}" id="quantity"/>
        </li>
        <li class="page-item">
            <a class="page-link plusButton" id="plus" th:value="${productId}">+</a>
        </li>
    </ul>
    </nav>

</div>
<script>
    $(document).ready(function () {
        $(".minusButton").on("click",function (evt) {
            evt.preventDefault();
            productId = $("#minus").value();
            qtyInput = $("#quantity" + productId);
            newQty =parseInt(qtyInput.val())-1;
            if(newQty > 0) qtyInput.val(newQty);
        });
        $(".plusButton").on("click",function (evt) {
            evt.preventDefault();
            productId = $("#plus").atrr("pid");
            qtyInput = $("#quantity" + productId);
            newQty =parseInt(qtyInput.val())+1;
            if(newQty > 0) qtyInput.val(newQty);
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
</body>
</html>