<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>My Orders</title>
        <th:block th:replace="layout_customer/head :: head"></th:block>

</head><!--/head-->

<body>
<div th:include="layout_customer/navbar:: navbar"></div>

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">My Orders</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="Receiver Name">Receiver Name</td>
                    <td class=" Phone">Phone</td>
                    <td class="Address">Address</td>
                    <td class="quantity">Date</td>
                    <td class="quantity">Status</td>
                    <td class="total">Total</td>
                    <td></td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orderlist}">
                    <td class="cart_product">
                        <p th:text="${order.receiverName}"></p>
                    </td>
                    <td class="cart_description">
                        <p th:text="${order.receiverPhone}"></p>
                    </td>
                    <td class="cart_price">
                        <p th:text="${order.receiverAddress}"></p>
                    </td>
                    <td class="cart_quantity">
                        <p th:text="${#calendars.format(order.createdAt, 'dd/MM/yyyy')}"></p>
                    </td>
                    <td class="cart_total">
                        <div th:switch="${order.status}">
                            <p th:case="'0'">Processing</p>
                            <p th:case="'1'">Shipping</p>
                            <p th:case="'2'">Finished</p>
                            <p th:case="'3'">Canceled</p>
                        </div>
                    </td>
                    <td class="cart_total">
                        <p th:text="${order.price}"></p>
                    </td>
                    <td class="order-detail">
                        <a class="cart_quantity_delete" th:href="@{'/myorder/'+${order.id}}">Details</a>
                    </td>
                    <td class="order-detail" th:if="${order.status==0}">
                        <a class="cart_quantity_delete" th:href="@{'/myorder/cancel/'+${order.id}}">Cancel</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

<th:block th:replace="layout_customer/footer :: footer_customer"></th:block>
<th:block th:replace="layout_customer/js :: js"></th:block>

</body>
</html>